<table class='table'>

  <tr><%= image_tag user.get_profile_image(100,100) %></tr>

  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>

  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>

  <tr>
    <th>follows</th>
    <th><%= link_to user.followings.count, user_followings_path(user) %></th>
  </tr>

  <tr>
    <th>followers</th>
    <th><%= link_to user.followers.count, user_followers_path(user) %></th>
  </tr>

</table>

<div class='row'>
  <% if current_user != user %> ?
    <td><%= render "relationships/followbtn", user: user, options: { class: ""} %></td>
    
    <% unless user.id == current_user.id %>
      <% if (current_user.following? user) && (user.following? current_user) %> <!--#相互フォローしることが条件-->
        <% if is_room == true %> <!--#すでにRoomがあるなら-->
          <p class="user-show-room"><a href="/rooms/<%= room_id %>" >チャットへ</a>
        <% else %>
          <% form_with model: room do |f| %> <!--#RoomとEntryの2つのモデルにデータを送る-->
            <% fields_for entry do |e| %>
              <%= e.hidden_field:user_id, value: user.id %> <!--#Entryにはuser_idを送る必要があるので、@user.idを指定-->
            <% end %>
            <%= f.submit "チャットを始める" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

  <% else %>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>

</div>