<div class="container">
  
  <div class="row">
    <% @entries.each do |e| %>
      <% if @myUserId != e.user.id %> <!--#相手の名前のみ表示する記述-->
        <h2><%= e.user.name %>さんとのチャット</h2>
      <% end %>
    <% end %>
  </div>
  
  <div class="row my-3">
    <%= link_to "Usersページに戻る", users_path, class:"btn btn-secondary btn-sm" %>
  </div>
  
  <div class="row">
    <table class="table table-hover">
      <% if @messages.present? %>
      　<% @messages.each do |m| %>
      　　  <tr>
            <td><%= m.user.name %></td>
            <td><%= m.message %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
  
  <div class="row">
  <%= form_for @message do |f| %>
    <%= f.text_field :message, placeholder: "メッセージを入力" , size: 50, class:"form-text-field" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "送信",class:"btn btn-success"%>
  <% end %>
  </div>
  
</div>